# Node modules
node_modules/

# VS Code settings
.vscode/
.vscode-server/

# Cache directories
.cache/
.npm/

# Sensitive and personal files (usually shouldn't be in a repo)
.ssh/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cloud-locale-test.skip
.cshrc
.lesshst
.mysql_history
.tcshrc

# Other generated or temporary files
nohup.out

